.penci-block_1 .block1_items .penci_post-meta,.penci-block_2 .block2_items .penci_post-meta,.penci-block_4 .block4_items .penci_post-meta,.penci-block_6 .block6_items .penci_post-meta,.penci-block_15 .block15_items .penci_post-meta,.penci-block_18 .block18_items .penci_post-meta,.penci-block_6 .penci_post-meta,.penci-block_15 .penci_post-meta,.penci-block_18 .penci_post-meta,.penci-block_4 .block4_first_item .penci_post-meta,.penci-block_21 .block_21_items .penci_post-meta,.penci-block_30 .block30_items .penci_post-meta,.penci-block_23 .block23_first_item .penci_post-meta{
    margin-top: 0;
    line-height: 20px;
}
.penci-block_1 .block1_first_item .penci_post-meta .penci-posted-on, .penci-block_1 .block1_first_item .penci_post-meta .penci-comment-count {
    position: relative;
    bottom: 8px;
}
.penci-block-vc .penci_post_thumb:hover .penci-cat-name {
    background-color: #00b0ff;
    text-decoration: none;
}

.penci-block-vc .penci-cat-name {
    font-size: 12px;
    font-weight: 600;
    padding: 2px 5px;
    height: auto;
}
.widget-area {
    margin-top: 0px;
}
.penci-container__content.row.penci-sb2_sb1_con {
    max-width: inherit;
    padding: 0px;
    margin: 0px;
}
.penci_media_object .penci_mobj__img {
    margin-right: 20px;
    position: relative;
}
.penci-grid_2 .penci__post-title {
    float: left;
}
.penci-block_17 {
    padding: 0;
}
.wpb_text_column {
    padding: 0px;
}
.error404 .site-content {
    margin-top: 0px;
}
/* div#woocommerce_product_categories-1,.woodmart-widget{
    padding-top: 15px;
} */