/*
 Theme Name:   Woodmart Child
 Description:  Woodmart Child Theme
 Author:       XTemos
 Author URI:   http://xtemos.com
 Template:     woodmart
 Version:      1.0.0
 Text Domain:  woodmart
*/
.sidebar-container{
    will-change: min-height;
}

.sidebar-inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
	left: inherit !important;
	bottom: 15px !important;
}
@media screen and (min-width: 1024px){
	.row.penci-sb2_sb1_con .penci-col-4:nth-child(1) {
		width: 300px;
	}
	.row.penci-sb2_sb1_con .penci-col-4:nth-child(2) {
		width: calc(100% - 600px);
		max-width: calc(100% - 600px);
	}
	.row.penci-sb2_sb1_con .penci-col-4:nth-child(3) {
		width: 300px;
	}
}
@media screen and (min-width: 769px){
	.order-md-last {
		-ms-flex-order: 13;
		order: 0;
	}
}

